{% extends "payments/base.html"%}
{% block content %}

<h1>Payment Processing 101</h1>
<div class="body_home_page">

<p>For psuedo cards to try, Stripe has this <a href="https://stripe.com/docs/testing#cards">here</a>
</p>
</div>
<!-- templates/home.html -->
<div class="flexcontainer">
  <section class="product">
    <h2>Buy for $5.00</h2>
    <img src="https://placeimg.com/640/480/tech" alt="">
    <!-- Adding a CSRF_TOKEN and form to accept Stripe payments -->
    <form class="" action="{% url 'charge_5_sucessful' %}" method="post">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="{{ key }}"
      data-description="Fiat currency charge"
      data-amount="500"
      data-locale="auto">
      </script>
    </form>
  </section>



  <section class="product">
    <h2>Buy for $10.00</h2>
    <img src="https://placeimg.com/640/480/tech" alt="">
    <!-- Adding a CSRF_TOKEN and form to accept Stripe payments -->
    <form class="" action="{% url 'charge_10_sucessful' %}" method="post">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
      data-description="Fiat currency charge"
      data-amount="1000" data-locale="auto">
      </script>
    </form>
  </section>


  <section class="product">
    <h2>Buy for $5.00</h2>
    <img src="https://placeimg.com/640/480/tech" alt="">
    <!-- Adding a CSRF_TOKEN and form to accept Stripe payments -->
    <form class="" action="{% url 'charge_5_sucessful' %}" method="post">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
      data-description="Fiat currency charge"
      data-amount="500" data-locale="auto">
      </script>
    </form>
  </section>


</div>
{% endblock content %}
